.aside {
    width: 200px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: blue;
    
    .profile-content {
        margin-top: 20px;
        
        .img-content {
            width: 80px;
            height: 80px;
            margin: 0 auto;
            img {
                width: 100%;
            }
        }
    }
}

.content-container {
    position: absolute;
    left: 200px;
    right: 0;
    top: 0;
    background-color: pink;
    height: 800px;
    .top {

        .row {
//          margin: 0;
            line-height: 34px;
            height:34px;
        }
    }
    
}
body .row {
    margin: 0;
}
